/Library/
/Logs/
/Temp/
/UserSettings/
/obj/

# Rider
/Assets/Plugins/Editor/JetBrains*
/.idea/

# Visual Studio files/caches
.vs/
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.pdb
*.mdb
*.opendb
*.VC.db
